@use "../../style/abstract/" as *;
@use '../../style/abstract/breakpoint' as *;
#section1,
#section2 {
    width: 100%;
    max-height: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

#section4,
#section6,
#section7 {
    background-color: #fff;
}

#section2 {
    background-color: #2e2e8b;
    height: 370px;
    &__heading {
        padding: 16px 16px 8px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px
    }
    &__more {
        color: $main-color;
    }
}

#section3 {
    width: 100%;
    max-height: 600px;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    & img {
        width: 100%;
        height: 100%;
    }
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        &>* {
            &:nth-child(1),
            &:nth-child(2) {
                width: 100%;
                order: 1;
            }
            &:nth-child(3),
            &:nth-child(4) {
                order: 2;
                flex: 1
            }
        }
    }
}
#section6 {
    padding: 0 12px 16px 12px;
}


.flashsale {
    &__time {
        background-color: #ff424e;
        padding: 3px 3px;
        font-size: 14px;
        color: #fff;
        font-weight: 500;
        border-radius: 3px;
    }
}

.home {
    img {
        width: 100%;
        border-radius: 4px;
    }
    &>div {
        border-radius: 4px;
    }
}

.section {
    &__heading {
        display: flex;
        padding: 10px 16px;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-size: 20px;
        display: flex;
        height: 28px;
        gap: 8px;
        align-items: center;
        a {
            color: $main-color;
        }
    }
    &__more {
        font-size: 15px;
        color: $main-color;
    }
}

.img__thuonghieu2 {
    img {
        position: relative;
    }
    p {
        font-size: 14px;
        color: $main-color;
        position: absolute;
        left: 0;
        bottom: 0;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }
}

#slider-thuonghieu1 .swiper-pagination {
    position: initial !important;
}

#slider-khuyenmai,
#slider-thuonghieu1 {
    .swiper-button-prev {
        width: 32px;
        height: 56px;
        padding: 8px 0;
        opacity: .5;
        background-color: rgba($color: #000000, $alpha: .5);
        border-radius: 0 4px 4px 0px;
        left: 0;
        &::after {
            font-size: 2rem;
            color: #fff;
        }
    }
    .swiper-button-next {
        width: 32px;
        height: 56px;
        padding: 8px 0;
        opacity: .5;
        background-color: rgba($color: #000000, $alpha: .5);
        border-radius: 4px 0px 0px 4px;
        right: 0;
        &::after {
            font-size: 2rem;
            color: #fff;
        }
    }
    &:hover {
        .swiper-button-next {
            opacity: 1;
        }
        .swiper-button-prev {
            opacity: 1;
        }
    }
}

#slider-thuonghieu1 {
    .swiper-button-prev {
        transform: translateY(-25%);
        &:hover {
            opacity: 1 !important;
        }
    }
    .swiper-button-next {
        transform: translateY(-25%);
        &:hover {
            opacity: 1 !important;
        }
    }
    &:hover {
        .swiper-button-next {
            opacity: .5;
        }
        .swiper-button-prev {
            opacity: .5;
        }
    }
}

.slider-thuonghieu2,
.slider-sale {
    .swiper-button-prev {
        width: 32px;
        height: 32px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #ccc;
        left: 0;
        &::after {
            font-size: 1rem;
            font-weight: 1100;
            color: #666;
        }
        &.swiper-button-disabled {
            opacity: 0;
        }
    }
    .swiper-button-next {
        width: 32px;
        height: 32px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #ccc;
        right: 0;
        &::after {
            font-size: 1rem;
            font-weight: 1100;
            color: #666;
        }
        &.swiper-button-disabled {
            opacity: 0;
        }
    }
    &:hover {
        .swiper-button-prev {
            background-color: #fff;
            border: 1px solid #bbb;
        }
        .swiper-button-next {
            background-color: #fff;
            border: 1px solid #bbb;
        }
        &::after {
            color: #000;
        }
    }
}

.slider-thuonghieu2 {
    @include tablet {
        display: none;
    }
}

.quicklink {
    &__wrap {
        padding: 16px 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__item {
        width: 103px;
        height: 104px;
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            text-align: center;
            font-size: 13px;
            padding: 0 10px;
            margin-top: 12px;
            line-height: 1.5;
        }
    }
}

.banner {
    &__wrap1 {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
        img {
            width: 295px;
            height: 150px;
        }
        @include tablet {
            img {
                width: 49%;
            }
        }
        @include mobile {
            img {
                width: 48.5%;
            }
        }
    }
    &__wrap2 {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
        img {
            width: 394px;
            height: 150px;
            border-radius: 20px;
        }
    }
}

.specify {
    &__wrap {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 1fr;
        gap: 12px 8px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__item {
        width: 117px;
        height: 132px;
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            text-align: center;
            font-size: 13px;
            padding: 0 10px;
            margin-top: 12px;
            line-height: 1.5;
        }
    }
}

.suggestion {
    background-color: #f5f5fa;
    position: sticky;
    top: 0;
    z-index: 10;
    &__wrap {
        display: flex;
        width: 100%;
        padding-bottom: 4px;
        justify-content: space-between;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__item {
        width: 151px;
        height: 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 4px;
        span {
            text-align: center;
            font-size: 13px;
            padding: 0 10px;
            margin-top: 12px;
            line-height: 1.5;
        }
        &.active {
            border: 1px solid $main-color;
            span {
                color: $main-color;
            }
        }
    }
}

#section9 {
    background-color: #f5f5fa;
    .section__heading {
        background-color: #fff;
        padding: 16px 10px;
        margin-bottom: 4px;
        border-radius: 4px;
    }
}

.btn__outline__primary {
    height: 33px;
    width: 240px;
    border-radius: 2px;
    border: 1px solid #0d5cb6;
    background-color: #fff;
    color: #0d5cb6;
    transition: all .1s ease-in-out;
    left: 50%;
    margin: 1rem auto;
    &:hover {
        background-color: #0d5cb6;
        color: #fff;
    }
}

.catogory {
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    &__prev,
    &__next {
        background-color: #fff;
        z-index: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    &__prev {
        left: 0;
    }
    &__next {
        right: 0;
    }
    &__content {
        margin: 0 20px;
        transition: transform 0.3s ease-in-out;
    }
}

