@use "../../style/abstract/breakpoint" as *;
.header {
    background-color: #c7354e;
    padding: 0 16px;
    &__account {
        position: relative;
        img {

            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
    }
    &__dropdown {
        padding: 12px 0;
        width: 250px;
        z-index: 100;
        display: none;
        position: absolute;
        background-color: #fff;
        top: 80px;
        right: -20%;
        border-radius: 4px;
        &::before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid #fff;
            top: -12px;
            left: 50%;
            transform: translateX(-50%);
        }
        &::after {
            position: absolute;
            content: "";
            width: 160px;
            height: 25px;
            top: -25px;
            background-color: transparent;
            left: 50%;
            transform: translateX(-50%);
        }
        &-img {
            height: 24px;
            width: 24px;
        }
        &>div {
            cursor: pointer;
            font-size: 12px;
            color: #333;
            display: block;
            padding: 8px 20px;
            &:hover {
                color: #1890ff;
                background-color: #f1f1f1;
            }
        }
        & a {
            cursor: pointer;
            font-size: 12px;
            color: #333;
            display: block;
            padding: 8px 20px;
            &:hover {
                background-color: #f1f1f1;
            }
            & div {
                font-size: 12px;
            }
        }
    }
    &__account:hover &__dropdown {
        display: block;
    }
    &-search {
        &__result {
            width: 100%;
            position: absolute;
            top: 40px;
            background-color: #fff;
            z-index: 10;
            width: calc(100% - 8rem);
        }
    }
    &__logo {
        width: 190px;
    }
    &__search {
        @include tablet {
            display: none;
        }
    }
    @include mobile {
        &__account,
        &__logo,
        &__cart {
            flex: 1;
            width: unset !important;
        }
        &__logo {
            align-items: center;
        }
    }
}

#input-search:focus .header__search__result {
    display: block !important;
}

#input-search {
    height: 100%;
    border-radius: 3px;
    margin: 0;
    padding-left: 0.5rem;
    border: none;
    font-size: 13px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:focus {
        outline: none;
    }
}

.modal-login {
    position: absolute;
    margin-top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 24px;
    padding: 32px;
    border-radius: 20px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}